// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

// Color Palette
$blue: #003049;
$red: #d62828;
$orange: #f77f00;
$yellow: #fcbf49;
$tan: #eae2b7;
$grey: #707070;

// Font Stack
$font-stack: 'Roboto', sans-serif;
